// CSS
@import "../../mixins.scss";
.footer {
    background-color: rgb(9, 31, 9);
    padding: 50px 0;
    color: white;
    position: relative;
    display: flex;

    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menuItems {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        @include md {
            margin-bottom: 30px;
            gap: 30px;
        }
        .menuItem {
            transition: all ease 0.3s;
            cursor: pointer;
            font-size: 12px;
            @include md {
                font-size: 16px;
            }
            &:hover {
                color: greenyellow;
            }
        }
    }
    


        
        .fb:hover {
            background-color: rgb(0, 81, 243);

        }.insta:hover {
            background-color: rgb(225, 48, 108);

        }.twitt:hover {
            background-color: rgb(0, 200, 255);
        }.link:hover {
            background-color: rgb(0, 119, 181);
        }
    }
}