// CSS
@import "../../mixins.scss";

    
    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    
        @include md {
            font-size: 14px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding : 0 10px;
            width: 1000px;
        }
    }
    

            
      
    }
}